@import url("https://fonts.google.com/specimen/Nunito+Sans");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body{
    width: 100%;
    min-height: 100vh;
    --bgColor: hsl(0,0%,98%);
    --fontcolor: hsl(200, 15%, 8%);
    font-family: "Nunito Sans" sans-serif;

};

.container{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
};

.container:nth-child(1){
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
};

button{
    outline: none;
    border: 0;
    background: transparent;
};

.toggle{
    font-size: 18px;
    cursor: pointer;
};

.toggle i{
    padding-right: 5px;
};

.form-control{
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
};

.form-control input{
    width: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: 0.5px;
};

.form-control i{
    position: absolute;
    top: 1rem;
    right: 1;
};





:root{
    --background-light: hsl(0, 0%, 98%);
    --background-dark: hsl(207, 26%, 17%);

    --dark-mode-text: hsl(0, 0%, 100%);
    --light-mode-text: hsl(200, 15%, 8%);

    --dark-mode-elements: hsl(209, 23%, 22%);
    --white-mode-elements: hsl(0, 0%, 52%);
    
  }



/*  Mobile Width */
@media only screen and (max-width:376px){
  
    body {
        background-color: red;
        flex-direction: column;
    }
  }

/*  Tablet Width */
@media only screen and (min-width:376px) and (max-width:769px) {
  
    body {
        background-color: aqua;
        flex-direction: column;
    }
  }

/*  Desktop Width */
@media only screen and (min-width:1440px) {
  
    body {
        --background-light: hsl(0, 0%, 98%);
    }
  }
